{% extends "gym/base.html" %}

{% block title %}
    Gym Stats Tracker
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'log_workout' %}">Update Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_workout_preset' %}">Create your workout preset</a>
        </li>
        {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'update_goals' %}">Update My Goals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_stats' %}">View Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_progress' %}">View Progress</a>
        </li> {% endcomment %}
    {% endif %}
{% endblock %}
